body {
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
}

img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.error {
    color: red;
}

.toast-container {
    position-fixed;
    top: 0;
    end: 0;
    padding: 3px;
}

.modal-dialog {
    max-width: 500px;
}