<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="text-center mb-4">Face Recognition</h1>

        <!-- Toast Notifications -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">Data berhasil disubmit!</div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
            <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert"
                aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">Error saat mengupload gambar!</div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

        <!-- Camera Feed and User Form -->
        <div class="row g-3">
            <!-- Live Webcam Feed -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Live Feed Webcam</div>
                    <div class="card-body text-center">
                        <img src="{{ url_for('video_feed', selected_camera_index=cameras[0][0]) }}" class="img-fluid"
                            id="videoFeed" alt="Video feed">
                    </div>
                    <div class="card-footer text-center">
                        <label for="cameraSelect" class="form-label">Pilih Kamera:</label>
                        <select class="form-control" id="cameraSelect">
                            {% for camera in cameras %}
                            <option value="{{ camera[0] }}">{{ camera[1] }}</option>
                            {% endfor %}
                        </select>
                        <button id="refreshButton" class="btn btn-warning mt-3">Refresh Kamera</button>
                    </div>
                </div>
            </div>

            <!-- User Form for Adding New User -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Tambah Pengguna</div>
                    <div class="card-body">
                        <form id="userForm" action="/upload_user_image" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Jenis Kelamin</label>
                                <select class="form-control" id="gender" name="gender" required>
                                    <option value="Laki-laki">Laki-laki</option>
                                    <option value="Perempuan">Perempuan</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="domicile" class="form-label">Domisili</label>
                                <input type="text" class="form-control" id="domicile" name="domicile" required>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Gambar</label>
                                <input type="file" class="form-control" id="image" name="image" accept="image/*">
                            </div>
                            <button type="button" id="captureButton" class="btn btn-primary">Tangkap dan Simpan
                                Gambar</button>
                            <button type="button" id="uploadButton" class="btn btn-secondary">Simpan Menggunakan Gambar
                                yang Diupload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h1 class="text-center mb-4">Recognized Face</h1>
            <div class="table-responsive">
                <table id="user_data_table" class="table table-striped table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center mb-2">Name</th>
                            <th class="text-center mb-2">Gender</th>
                            <th class="text-center mb-2">Domicile</th>
                            <th class="text-center mb-2">Confidence</th>
                        </tr>
                    </thead>
                    <tbody id="user_data_body">
                        <!-- Data will be inserted here by JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="captureButtonML">
                    <span class="slider"></span>
                </label>
                <span id="switchLabel">Auto-Refresh: On</span>
            </div>
            <button id="captureFaceButton" class="btn btn-primary mt-3" style="display: none;">Capture Face</button>
        </div>

        <!-- YOLOv8 Image Classification -->
        <div class="row g-3 mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">YOLO Model Image Classification</div>
                    <div class="card-body">
                        <form id="yoloForm" action="/classify_image" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="yoloImage" class="form-label">Upload Image</label>
                                <input type="file" class="form-control" id="yoloImage" name="yoloImage" accept="image/*"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Classify Image</button>
                        </form>
                        <div id="yoloResult" class="mt-4">
                            <!-- Classification result will be displayed here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Debug Table Button -->
        <button type="button" id="debugTableButton" class="btn btn-info mt-3">Lihat Debug Table</button>
        <button type="button" id="carCountDirect" class="btn btn-secondary mt-3">Car Count Feed</button>
        <button type="button" id="imageClassification" class="btn btn-secondary mt-3">Realtime Image Classification
            Feed</button>
    </div>

    <!-- Loading Overlay -->
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/indexScripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>